*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.navbar a {
  color: rgb(229 229 229);
  text-decoration: none;
  font-family: inter;
}

.navbar a.active {
  color: rgb(34 197 94);
}
